{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src" // "~" có thể đổi 
                }
            }
        ]
    ]
}