@import 'normalize.css';
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2?styles=44818,44819,44817,44816,44820,44821,44812,44813');

:root{
    --primary-color: #fe2c55;
    --black: #000;
    --text-color : #3d3d3d;
    --rgba-color : rgba(22,24,35,0.06);
    --rgba-color-blur : rgba(22,24,35,0.075);

    // Default Layout
    --default-layout-header-height: 60px;
   

}

html{
    font-size: 62.5%;

}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.6rem;    
    line-height: 1.5; 
    text-rendering: optimizeSpeed;// tối ưu tốc độ render font lấy từ nguồn khác                      
}

button, input , [tabindex]{
    outline: none;
    border: none;
}

a[href]{
    color: var(--text-color);
    text-decoration: none;
}