.menu_item {
	padding: 8px 4px;
	display: flex;
	font-size: 1.8rem;
	font-weight: 700;
	align-items: center;
	margin-bottom: 8px;
	color: black;
	border-radius: 6px;
	transition: background-color ease-in-out 200ms;
	&:hover {
		background-color: rgba(22, 24, 35, 0.03);
	}
	&.active {
		.active_icon{
			display: block;
		}
		.icon{
			display: none;
		}
		color: #1b74e4;
	}
}

.sidebar_icon {
	width: 40px;
	height: 40px;
   
}
.item_title {
	margin-left: 10px;
}
.active_icon{
	display:  none;
}